@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpicyRice';
  src: url('src/assets/fonts/SpicyRice-regular.ttf') format('opentype');
  font-style: normal;
  font-display: swap;
}