@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Exo2-Regular';
  src: url('./fonts/Exo2-Regular.ttf');
  font-style: normal;
  font-displat: swap
}

@font-face {
  font-family: 'Exo2-Bold';
  src: url('./fonts/Exo2-Bold.ttf');
  font-style: normal;
  font-displat: swap
}

@font-face {
  font-family: 'Exo2-ExtraBold';
  src: url('./fonts/Exo2-ExtraBold.ttf');
  font-style: normal;
  font-displat: swap
}



h1:after {
  content: '';
  background-color: black;
  animation: cursor 0.5s infinite;
}

@keyframes cursor {
  0% { opacity: 1; }
  49% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

/* .subtitle {
  animation-name: sliding;
  animation-duration: 4s;
  animation-delay: 4s;
} */

/* @keyframes sliding {
  0% { margin-left: -2000px }
  100% { margin-left: 0 }
} */